{
   "swagger":"2.0",
   "info":{
      "title":"AdobeStock API",
      "description":"See details here</a>.",
      "version":"1.0.0"
   },
   "host" : "stock.adobe.io",
   "basePath":"/Rest",
   "schemes":[
      "https"
   ],
   "produces":[
      "application/json"
   ],
   "paths":{
      "/Checkout/1/Info/Pricing":{
         "get":{
            "tags":[
               "Checkout"
            ],
            "summary":"Return pricing information for specific price tier by locale, country code.",
            "description":"STK-7034",
            "responses":{
               "200":{
                  "description":"Offering Price Information",
                  "schema":{
                     "$ref":"#/definitions/Response.PricingInfo"
                  }
               },
               "400":{
                  "description":"Required HTTP header is missing - X-Product",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Product code not found in mappings.",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Vendor"
            },
            {
               "$ref":"#/parameters/Parameter.Get.ProductKey"
            }
         ]
      },
      "/Checkout/1/Info/PurchaseStatus":{
         "get":{
            "tags":[
               "Checkout"
            ],
            "summary":"Returns purchase status.",
            "responses":{
               "200":{
                  "description":"Product purchase status",
                  "schema":{
                     "$ref":"#/definitions/Response.PurchaseStatus"
                  }
               },
               "400":{
                  "description":"Member is not specified, Required product key is missing, Please provide either reference_id or content_id",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Vendor"
            },
            {
               "$ref":"#/parameters/Parameter.Get.ProductKey"
            },
            {
               "$ref":"#/parameters/Parameter.Get.ContentId.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Get.ReferenceId.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Get.MemberGuid"
            },
            {
               "$ref":"#/parameters/Parameter.Get.FulfillmentMethod"
            }
         ]
      },
      "/Checkout/1/Info/PurchaseMethod":{
         "get":{
            "tags":[
               "Checkout"
            ],
            "summary":"Returns available purchase method.",
            "description":"STK-7037",
            "responses":{
               "200":{
                  "description":"Purchase method",
                  "schema":{
                     "$ref":"#/definitions/Response.PurchaseMethod"
                  }
               },
               "400":{
                  "description":"Required product key is missing",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Vendor"
            },
            {
               "$ref":"#/parameters/Parameter.Get.ProductKey"
            }
         ]
      },
      "/Checkout/1/Action/OveragePurchase":{
         "post":{
            "tags":[
               "Checkout"
            ],
            "summary":"Make overage purchase.",
            "description":"STK-7038",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/Response.OveragePurchase"
                  }
               },
               "400":{
                  "description":"Cannot obtain SAO for the current member by the provided product key.",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Invalid Media ID.",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Vendor"
            },
            {
               "$ref":"#/parameters/Parameter.Post.ProductKey"
            },
            {
               "$ref":"#/parameters/Parameter.Post.ContentId.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Post.ReferenceId.Optional"
            }
         ]
      },
      "/Checkout/1/Action/OverageAbandon":{
         "post":{
            "tags":[
               "Checkout"
            ],
            "summary":"Cancel overage purchasing workflow.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "204":{
                  "description":"The operation has been completed successfully."
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Vendor"
            },
            {
               "$ref":"#/parameters/Parameter.Post.PurchaseMethod"
            },
            {
               "$ref":"#/parameters/Parameter.Post.ContentId.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Post.ReferenceId.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Post.License"
            }
         ]
      },
      "/Checkout/1/Countries":{
         "get":{
            "tags":[
               "Checkout"
            ],
            "summary":"Returns a list of countries we support.",
            "responses":{
               "200":{
                  "description":"List countries we sell in",
                  "schema":{
                     "$ref":"#/definitions/Response.ListCountries"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            }
         ]
      },
      "/Checkout/1/Countries/{country_code}":{
         "get":{
            "tags":[
               "Checkout"
            ],
            "summary":"Returns banned or allowed depending on if stock is old in that country",
            "responses":{
               "200":{
                  "description":"Sellable status of the country",
                  "schema":{
                     "$ref":"#/definitions/Response.CheckCountry"
                  }
               },
               "400":{
                  "description":"Required parameter country_code is missing.",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "name":"country_code",
               "in":"path",
               "description":"Country searching for",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/Entitlement/1/Member/Search":{
         "get":{
            "tags":[
               "Entitlement"
            ],
            "summary":"Search entitlements for one guid or one pattern",
            "responses":{
               "200":{
                  "description":"An array of Member profile details",
                  "schema":{
                     "$ref":"#/definitions/Response.Profiles"
                  }
               },
               "400":{
                  "description":"Missing parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Please use a valid token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Member not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "name":"email",
               "in":"query",
               "description":"Member email (member@example.com). Member email OR guid is required",
               "type":"string"
            },
            {
               "name":"guid",
               "in":"query",
               "description":"Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID). Member email OR guid is required",
               "type":"string"
            }
         ]
      },
      "/Entitlement/1/Allotment/List":{
         "get":{
            "tags":[
               "Entitlement"
            ],
            "summary":"List allotments corresponding to an entitlement",
            "responses":{
               "200":{
                  "description":"An array of allotments",
                  "schema":{
                     "$ref":"#/definitions/Response.Allotments"
                  }
               },
               "400":{
                  "description":"Missing parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.EntitlementId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.PageNumber"
            }
         ]
      },
      "/Entitlement/1/Download/List":{
         "get":{
            "tags":[
               "Entitlement"
            ],
            "summary":"Retrieve the list of files downloaded with an entitlement",
            "responses":{
               "200":{
                  "description":"An array of downloads",
                  "schema":{
                     "$ref":"#/definitions/Response.Downloads"
                  }
               },
               "400":{
                  "description":"Missing parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.EntitlementId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.PageNumber"
            }
         ]
      },
      "/Entitlement/1/License/Add":{
         "post":{
            "tags":[
               "Entitlement"
            ],
            "summary":"Add licenses to an entitlement",
            "consumes":[
               "application/json",
               "multipart/form-data"
            ],
            "responses":{
               "204":{
                  "description":"No content is returned by this call"
               },
               "400":{
                  "description":"Missing or invalid parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Adobe GUID not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Post.EntitlementId"
            },
            {
               "$ref":"#/parameters/Parameter.Post.MemberEntityRef"
            },
            {
               "$ref":"#/parameters/Parameter.Post.NbLicenses"
            }
         ]
      },
      "/Entitlement/1/Allotment/Reopen":{
         "post":{
            "tags":[
               "Entitlement"
            ],
            "summary":"Reopen a closed allotment",
            "consumes":[
               "application/json",
               "multipart/form-data"
            ],
            "responses":{
               "204":{
                  "description":"No content is returned by this call"
               },
               "400":{
                  "description":"Missing or invalid parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Post.AllotmentId"
            }
         ]
      },
      "/Entitlement/1/Entitlement/List":{
         "get":{
            "tags":[
               "Entitlement"
            ],
            "summary":"Returns a list of available entitlements for a member",
            "responses":{
               "200":{
                  "description":"A list of Member entitlements",
                  "schema":{
                     "$ref":"#/definitions/Response.ProfileExtended"
                  }
               },
               "401":{
                  "description":"Please use a valid token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Adobe GUID not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Missing required service token.",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "name":"entity_ref",
               "in":"query",
               "description":"Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)",
               "type":"string"
            }
         ]
      },
      "/Entitlement/1/Entitlement/Select":{
         "post":{
            "tags":[
               "Entitlement"
            ],
            "summary":"Select the current active entitlement for an account",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "204":{
                  "description":"No content is returned by this call"
               },
               "404":{
                  "description":"The Adobe GUID or the Entitlement was not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "422":{
                  "description":"Entitlement does not belong to member",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error happened",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Post.EntitlementGuid"
            },
            {
               "name":"entity_ref",
               "in":"formData",
               "description":"Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)",
               "type":"string"
            }
         ]
      },
      "/Entitlement/1/Credits/List":{
         "get":{
            "tags":[
               "Credits"
            ],
            "summary":"Returns a list of credit packs bought by the user",
            "responses":{
               "200":{
                  "description":"A list of Credit Packs",
                  "schema":{
                     "$ref":"#/definitions/Response.ListCredits"
                  }
               },
               "401":{
                  "description":"Please use a valid authentication token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Adobe GUID not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Missing required service token.",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "name":"entity_ref",
               "in":"query",
               "description":"Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/Entitlement/1/Credits/Add":{
         "post":{
            "tags":[
               "Credits"
            ],
            "summary":"Adds credit pack for the member.",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":"Credit pack details",
                  "schema":{
                     "$ref":"#/definitions/Response.AddCredits"
                  }
               },
               "404":{
                  "description":"The Adobe GUID or the Entitlement was not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "400":{
                  "description":"Bad request or required params not supplied",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error happened",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "name":"member_entity_ref",
               "in":"formData",
               "description":"Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)",
               "required":true,
               "type":"string"
            },
            {
               "name":"nb_credits",
               "in":"formData",
               "description":"Number of credits you want to add",
               "required":true,
               "type":"integer"
            },
            {
               "name":"credit_type",
               "in":"formData",
               "description":"Type of credit. Defaults to individual if not specified",
               "type":"string"
            },
            {
               "name":"expiration",
               "in":"formData",
               "description":"Expiration timestamp for these credits. Defaults to one year in the future if not specified",
               "type":"string"
            },
            {
               "name":"user_country",
               "in":"formData",
               "description":"Member country ISO code (e.g. JP, US etc.)",
               "required":false,
               "type":"string"
            },
            {
               "name":"order_number",
               "in":"formData",
               "description":"eCommerce order number (optional if free, required if paid)",
               "type":"string"
            },
            {
               "name":"is_free",
               "in":"formData",
               "description":"Flag weather it's free credit pack",
               "type":"integer",
               "default":1,
               "enum":[
                  0,
                  1
               ]
            }
         ]
      },
      "/Entitlement/1/Credits/Return":{
         "put":{
            "tags":[
               "Credits"
            ],
            "summary":"Select the current active entitlement for an account",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "200":{
                  "description":"Credit pack details",
                  "schema":{
                     "$ref":"#/definitions/Response.ReturnCredits"
                  }
               },
               "404":{
                  "description":"The Adobe GUID or the Entitlement was not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "400":{
                  "description":"Bad request or required params not supplied",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error happened",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "name":"member_entity_ref",
               "in":"formData",
               "description":"Member GUID (e.g. EBB978DB554BC9237F000101@AdobeID)",
               "required":true,
               "type":"string"
            },
            {
               "name":"order_number",
               "in":"formData",
               "description":"Number of credits you want to add",
               "required":true,
               "type":"integer"
            }
         ]
      },
      "/1/team-usage/{entity_ref}/product-quantities":{
         "get":{
            "tags":[
               "Team"
            ],
            "responses":{
               "200":{
                  "description":"Returns team entitlement quota consumption data",
                  "schema":{
                     "$ref":"#/definitions/Response.TeamProductQuantities"
                  }
               },
               "400":{
                  "description":"Missing parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Invalid authorization token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Unknown organization",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            },
            {
               "$ref":"#/parameters/Parameter.Path.EntityRef"
            }
         ]
      },
      "/FotoliaMigration/1/SuspendEntitlement/{fotolia_member_id}":{
         "put":{
            "tags":[
               "FotoliaMigration"
            ],
            "summary":"Toggle on/off the suspended status of a Fotolia member's entitlement",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "204":{
                  "description":"No content is returned by this call"
               },
               "400":{
                  "description":"Missing or invalid parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"No migration found for the fotolia member",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "422":{
                  "description":"Wrong entitlement type",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error happened",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Path.FotoliaMemberId"
            },
            {
               "name":"suspended",
               "in":"formData",
               "description":"Entitlement suspended status (eg. true)",
               "required":true,
               "type":"boolean"
            }
         ]
      },
      "/FotoliaMigration/1/FotoliaProvision/{fotolia_member_id}":{
         "post":{
            "tags":[
               "FotoliaMigration"
            ],
            "summary":"Renew migrated Fotolia subscription",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "204":{
                  "description":"No content is returned by this call"
               },
               "400":{
                  "description":"Missing or invalid parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"No migration found for the fotolia member",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "422":{
                  "description":"Provisionning not possible",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error happened",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Path.FotoliaMemberId"
            },
            {
               "$ref":"#/parameters/Parameter.Post.NbLicenses"
            }
         ]
      },
      "/Gdpr/1/Fotolia/Export":{
         "post":{
            "tags":[
               "Gdpr"
            ],
            "summary":"Changes the state of a gdpr fotolia to DONE",
            "consumes":[
               "application/x-www-form-urlencoded"
            ],
            "responses":{
               "204":{
                  "description":"No data is returned by this call"
               },
               "400":{
                  "description":"Missing or invalid parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"No Fotolia gdpr found for this uuid",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error happened",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "name":"fotolia_uuid",
               "in":"formData",
               "description":"Fotolia gdpr uuid to update",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/Libraries/1/Content/Info":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"Retrieve license info for a given asset",
            "responses":{
               "200":{
                  "description":"License details",
                  "schema":{
                     "$ref":"#/definitions/Response.BuyerPurchase"
                  }
               },
               "403":{
                  "description":"Content type not allowed",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.ContentId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.License"
            }
         ]
      },
      "/Libraries/1/Content/License":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"License an asset with a specific license type",
            "parameters":[
               {
                  "$ref":"#/parameters/Parameter.Header.Authorization.Required"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.ApiKey"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Product.Optional"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.ProductLocation"
               },
               {
                  "$ref":"#/parameters/Parameter.Get.ContentId"
               },
               {
                  "$ref":"#/parameters/Parameter.Get.License"
               },
               {
                  "name":"license_again",
                  "in":"query",
                  "description":"Should the asset be licensed again if it has already been licensed",
                  "required":false,
                  "type":"string",
                  "default":0,
                  "enum":[
                     "",
                     "0",
                     "1",
                     "true",
                     "false"
                  ]
               },
               {
                  "$ref":"#/parameters/Parameter.Get.Locale"
               }
            ],
            "responses":{
               "200":{
                  "description":"License details",
                  "schema":{
                     "$ref":"#/definitions/Response.BuyerPurchase"
                  }
               },
               "401":{
                  "description":"Please use a valid token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "403":{
                  "description":"Missing mandatory license reference",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Content metadata not found, Content is no longer available",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Wrong size found, The file does not support this license",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"Purchases currently unavailable, The file does not support this license, You cannot license this asset type with your current plan",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Libraries"
            ],
            "summary":"License an asset with a specific license type",
            "consumes":[
               "application/json",
               "application/x-www-form-urlencoded"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/Parameter.Header.Authorization.Required"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.ApiKey"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Product.Optional"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.ProductLocation"
               },
               {
                  "$ref":"#/parameters/Parameter.Post.ContentId"
               },
               {
                  "$ref":"#/parameters/Parameter.Post.License"
               },
               {
                  "name":"license_again",
                  "in":"formData",
                  "description":"Should the asset be licensed again if it has already been licensed",
                  "required":false,
                  "type":"string",
                  "default":0,
                  "enum":[
                     "",
                     "0",
                     "1"
                  ]
               },
               {
                  "$ref":"#/parameters/Parameter.Post.Locale"
               }
            ],
            "responses":{
               "200":{
                  "description":"License details",
                  "schema":{
                     "$ref":"#/definitions/Response.BuyerPurchase"
                  }
               },
               "403":{
                  "description":"Missing mandatory license reference",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Content metadata not found, Content is no longer available",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Wrong size found, The file does not support this license",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"Purchases currently unavailable, The file does not support this license, You cannot license this asset type with your current plan",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         }
      },
      "/Libraries/1/Member/Profile":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"Return licensing capabilities for a specific user.",
            "responses":{
               "200":{
                  "description":"Return licensing capabilities for a specific user",
                  "schema":{
                     "$ref":"#/definitions/Response.Buyer"
                  }
               },
               "503":{
                  "description":"Purchases currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Get.ContentId.Optional"
            },
            {
               "name":"format",
               "in":"query",
               "description":"Include the format value in response ",
               "required":false,
               "type":"string",
               "enum":[
                  "",
                  "message_ccx",
                  "message_licensing_panel"
               ]
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            }
         ]
      },
      "/Libraries/1/Member/LicenseHistory":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"This function is used to retrive the license history for an user",
            "responses":{
               "200":{
                  "description":"Return license history for the current user",
                  "schema":{
                     "$ref":"#/definitions/Response.UserLicenseHistory"
                  }
               },
               "400":{
                  "description":"Unsupported result column",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "name":"result_columns",
               "in":"query",
               "description":"List of columns to show in response",
               "required":false,
               "type":"array",
               "items":{
                  "type":"string"
               },
               "enum":[
                  "id",
                  "title",
                  "creator_name",
                  "creator_id",
                  "content_url",
                  "media_type_id",
                  "vector_type",
                  "content_type",
                  "height",
                  "width"
               ]
            },
            {
               "name":"search_parameters[limit]",
               "in":"query",
               "description":"Maximum number of media returned",
               "type":"string",
               "default":"32"
            },
            {
               "name":"search_parameters[offset]",
               "in":"query",
               "description":"Start position in query",
               "type":"string",
               "default":"0"
            },
            {
               "name":"search_parameters[thumbnail_size]",
               "in":"query",
               "description":"Thumbnail size (px)",
               "type":"integer",
               "default":400,
               "enum":[
                  110,
                  160,
                  400
               ]
            },
            {
               "name":"all",
               "in":"query",
               "description":"Request all license history of the member's organization",
               "required":false,
               "type":"string"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            }
         ]
      },
      "/Libraries/1/Member/Abandon":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"Abandon a licensing operation",
            "responses":{
               "204":{
                  "description":"Abandon Member"
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.ContentId.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Get.License"
            },
            {
               "name":"state",
               "in":"query",
               "description":"",
               "required":false,
               "type":"string",
               "enum":[
                  "cancelled",
                  "just_purchased",
                  "not_purchased",
                  "overage",
                  "possible",
                  "purchased"
               ]
            }
         ]
      },
      "/Libraries/Download/{download id}":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"Download purchased file.",
            "produces":[
               "image/jpeg",
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Download licensed asset. The response should be type=file, but is omitted here due a bug in our validation library: https://github.com/Maks3w/SwaggerAssertions/issues/45"
               },
               "302":{
                  "description":"URL Redirection to file in S3"
               },
               "400":{
                  "description":"file not available",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"No route matched the request",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "name":"format",
               "in":"query",
               "description":"What part of a compound file do you want returned ",
               "required":false,
               "type":"string",
               "default":"template",
               "enum":[
                  "",
                  "mogrt",
                  "png",
                  "json",
                  "template"
               ]
            },
            {
               "name":"download id",
               "in":"path",
               "description":"Download id of the asset you want to download ",
               "required":true,
               "type":"string"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Size"
            }
         ]
      },
      "/Libraries/Download/{content_id}/{license_id}":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"Download purchased file.",
            "produces":[
               "image/jpeg",
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Download licensed asset. The response should be type=file, but is omitted here due a bug in our validation library: https://github.com/Maks3w/SwaggerAssertions/issues/45."
               },
               "302":{
                  "description":"URL Redirection to file in S3"
               },
               "400":{
                  "description":"file not available",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"No route matched the request",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "name":"format",
               "in":"query",
               "description":"What part of a compound file do you want returned ",
               "required":false,
               "type":"string",
               "default":"template",
               "enum":[
                  "",
                  "mogrt",
                  "png",
                  "json",
                  "template"
               ]
            },
            {
               "name":"content_id",
               "in":"path",
               "description":"Content ID of the asset you want to download ",
               "required":true,
               "type":"integer"
            },
            {
               "name":"license_id",
               "in":"path",
               "description":"License ID that you want to download ",
               "required":true,
               "type":"integer",
               "enum":[
                  "1",
                  "2",
                  "3",
                  "4",
                  "5",
                  "6"
               ]
            },
            {
               "$ref":"#/parameters/Parameter.Get.Size"
            }
         ]
      },
      "/Libraries/Watermarked/Download/{content_id}/{license_id}":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"Download watermarked file.",
            "produces":[
               "image/jpeg",
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Download watermarked asset. The response should be type=file, but is omitted here due a bug in our validation library: https://github.com/Maks3w/SwaggerAssertions/issues/45."
               },
               "302":{
                  "description":"URL Redirection to file in S3"
               },
               "400":{
                  "description":"This is embarrassing, but this file cannot be downloaded.",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "name":"content_id",
               "in":"path",
               "description":"Content ID of the asset that you want to download ",
               "required":true,
               "type":"integer"
            },
            {
               "name":"license_id",
               "in":"path",
               "description":"License ID that you want to download",
               "required":true,
               "type":"integer",
               "enum":[
                  "1",
                  "2",
                  "3",
                  "4",
                  "5",
                  "6"
               ]
            }
         ]
      },
      "/Libraries/Watermarked/Download/{content_id}":{
         "get":{
            "tags":[
               "Libraries"
            ],
            "summary":"Download watermarked file.",
            "produces":[
               "image/jpeg",
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Download watermarked asset. The response should be type=file, but is omitted here due a bug in our validation library: https://github.com/Maks3w/SwaggerAssertions/issues/45."
               },
               "302":{
                  "description":"URL Redirection to file in S3"
               },
               "400":{
                  "description":"This is embarrassing, but this file cannot be downloaded.",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "name":"content_id",
               "in":"path",
               "description":"Content ID of the asset that you want to download",
               "required":true,
               "type":"integer"
            }
         ]
      },
      "/1/organization-usage/{organization_guid}/product-quantities":{
         "get":{
            "tags":[
               "Organization"
            ],
            "summary":"Returns the consumption data for an entire organization or for a given group",
            "responses":{
               "200":{
                  "description":"Returns the consumption data for an entire organization",
                  "schema":{
                     "$ref":"#/definitions/Response.OrganizationProductQuantities"
                  }
               },
               "400":{
                  "description":"Missing parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Member does not belong to the organization, Please provide access token, Unexpected service access token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Unknown Organization",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            },
            {
               "$ref":"#/parameters/Parameter.Path.OrganizationGuid"
            }
         ]
      },
      "/1/organization-usage/{organization_guid}/product-quantities/{group_id}":{
         "get":{
            "tags":[
               "Organization"
            ],
            "summary":"Returns the consumption data for an entire organization or for a given group",
            "responses":{
               "200":{
                  "description":"Returns the consumption data for a given group.",
                  "schema":{
                     "$ref":"#/definitions/Response.ProductConfiguration"
                  }
               },
               "400":{
                  "description":"Missing parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Member does not belong to the organization, Member is not admin of the PLC, Please provide access token, Unexpected service access token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Unknown Organization",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            },
            {
               "$ref":"#/parameters/Parameter.Path.OrganizationGuid"
            },
            {
               "name":"group_id",
               "in":"path",
               "description":"Group ID ",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/1/organization-usage/{organization_guid}/product-quantities/list/{group_ids}":{
         "get":{
            "tags":[
               "Organization"
            ],
            "summary":"Returns the consumption data for an entire organization or for a given group",
            "responses":{
               "200":{
                  "description":"Returns the consumption data for a list of group IDs.",
                  "schema":{
                     "items":{
                        "$ref":"#/definitions/Response.ProductConfiguration"
                     }
                  }
               },
               "400":{
                  "description":"Missing parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Member does not belong to the organization, Member is not admin of the PLC, Please provide access token, Unexpected service access token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Unknown Organization",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            },
            {
               "$ref":"#/parameters/Parameter.Path.OrganizationGuid"
            },
            {
               "name":"group_ids",
               "in":"path",
               "description":"list of Group IDs ",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/1/Organization/ContentsTypes":{
         "get":{
            "tags":[
               "Organization"
            ],
            "summary":"Get available asset types",
            "responses":{
               "200":{
                  "description":"Group Content Type ID: Group Content Type Label"
               },
               "401":{
                  "description":"Please provide access token, Unexpected service access token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            }
         ]
      },
      "/1/enterprise/{organization_guid}/products/{product_id}/license-configurations/{license_configuration_id}/permissions":{
         "get":{
            "tags":[
               "Organization"
            ],
            "summary":"Gets or updates PLC permissions",
            "responses":{
               "200":{
                  "description":"Gets PLC permissions",
                  "schema":{
                     "$ref":"#/definitions/Response.PLCPermissions"
                  }
               },
               "400":{
                  "description":"Missing Parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Member does not belong to the organization, Please provide access token, Unexpected service access token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Organization does not have the requested product configuration",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "put":{
            "tags":[
               "Organization"
            ],
            "summary":"Gets or updates PLC permissions",
            "consumes":[
               "application/json",
               ""
            ],
            "responses":{
               "204":{
                  "description":"No Content"
               },
               "400":{
                  "description":"Missing Parameter, Invalid Payload",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Member does not belong to the organization, Please provide access token, Unexpected service access token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Unknown section content id, Unknown content group type, Unknown file type, Organization does not have the requested product configuration",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "Organization"
            ],
            "summary":"Gets or updates PLC permissions",
            "responses":{
               "204":{
                  "description":"No Content"
               },
               "400":{
                  "description":"Missing Parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Member does not belong to the organization, Please provide access token, Unexpected service access token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Organization does not have the requested product configuration",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "Organization"
            ],
            "summary":"Gets or updates PLC permissions",
            "consumes":[
               "application/json",
               ""
            ],
            "responses":{
               "204":{
                  "description":"No Content"
               },
               "400":{
                  "description":"Missing Parameter, Invalid Payload",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "401":{
                  "description":"Member does not belong to the organization, Please provide access token, Unexpected service access token",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Unknown section content id, Unknown content group type, Organization does not have the requested product configuration",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "503":{
                  "description":"The server is currently unavailable",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Required"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            },
            {
               "$ref":"#/parameters/Parameter.Path.OrganizationGuid"
            },
            {
               "name":"product_id",
               "in":"path",
               "description":"Product ID",
               "required":true,
               "type":"string"
            },
            {
               "name":"license_configuration_id",
               "in":"path",
               "description":"License configuration ID",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/Media/1/Search/Files":{
         "get":{
            "tags":[
               "Media"
            ],
            "summary":"File search",
            "description":"Search for media files offered for selling. See details <a href='https://wiki.corp.adobe.com/display/adobestock/Stock+Search+API#StockSearchAPI-Method:Rest/Media/1/Search/Files'>here</a>.",
            "responses":{
               "200":{
                  "description":"An array of search items",
                  "schema":{
                     "$ref":"#/definitions/Response.Files"
                  }
               },
               "400":{
                  "description":"Invalid input parameters",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "403":{
                  "description":"Safe search is on",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Media"
            ],
            "summary":"File search",
            "description":"Search for media files offered for selling. See details <a href='https://wiki.corp.adobe.com/display/adobestock/Stock+Search+API#StockSearchAPI-Method:Rest/Media/1/Search/Files'>here</a>.",
            "consumes":[
               "application/json",
               "multipart/form-data"
            ],
            "parameters":[
               {
                  "name":"similar_image",
                  "in":"formData",
                  "description":"image data to use for visual similarity search. Use multipart/form-data. Ignored if search_parameters[similar_url] is specified.",
                  "type":"file"
               }
            ],
            "responses":{
               "200":{
                  "description":"An array of search items",
                  "schema":{
                     "$ref":"#/definitions/Response.Files"
                  }
               },
               "400":{
                  "description":"Invalid input parameters",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         },
         "parameters":[
            {
               "$ref":"#/parameters/Parameter.Header.ApiKey"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
            },
            {
               "$ref":"#/parameters/Parameter.Header.Product"
            },
            {
               "$ref":"#/parameters/Parameter.Header.ProductLocation"
            },
            {
               "$ref":"#/parameters/Parameter.Header.RequestId"
            },
            {
               "$ref":"#/parameters/Parameter.Get.Locale"
            },
            {
               "name":"search_parameters[words]",
               "in":"query",
               "description":"Keyword search (words can also be media_id, e.g. #20 #21 #22)",
               "type":"string"
            },
            {
               "name":"search_parameters[limit]",
               "in":"query",
               "description":"Maximum number of media returned",
               "type":"string",
               "default":"32"
            },
            {
               "name":"search_parameters[offset]",
               "in":"query",
               "description":"Start position in query",
               "type":"string",
               "default":"0"
            },
            {
               "name":"search_parameters[order]",
               "in":"query",
               "description":"Sort order",
               "type":"string",
               "default":"relevance",
               "enum":[
                  "relevance",
                  "price_1",
                  "creation",
                  "popularity",
                  "nb_views",
                  "nb_downloads",
                  "undiscovered"
               ]
            },
            {
               "name":"search_parameters[creator_id]",
               "in":"query",
               "description":"Search by creator",
               "type":"integer"
            },
            {
               "name":"search_parameters[media_id]",
               "in":"query",
               "description":"Search by media id",
               "type":"integer"
            },
            {
               "name":"search_parameters[model_id]",
               "in":"query",
               "description":"Search by same model",
               "type":"integer"
            },
            {
               "name":"search_parameters[serie_id]",
               "in":"query",
               "description":"Search by same series",
               "type":"integer"
            },
            {
               "name":"search_parameters[similar]",
               "in":"query",
               "description":"Search by similar media (similar_content_id)",
               "type":"integer"
            },
            {
               "name":"search_parameters[category]",
               "in":"query",
               "description":"Search by category (e.g. 614)",
               "type":"integer"
            },
            {
               "name":"search_parameters[filters][has_releases]",
               "in":"query",
               "description":"People filter",
               "type":"string",
               "default":"all",
               "enum":[
                  "true",
                  "false",
                  "all"
               ]
            },
            {
               "name":"search_parameters[filters][content_type:photo]",
               "in":"query",
               "description":"Search for photos",
               "type":"integer",
               "default":0,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][content_type:illustration]",
               "in":"query",
               "description":"Search for illustrations",
               "type":"integer",
               "default":0,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][content_type:vector]",
               "in":"query",
               "description":"Search for vectors",
               "type":"integer",
               "default":0,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][content_type:video]",
               "in":"query",
               "description":"Search for videos",
               "type":"integer",
               "default":0,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][content_type:template]",
               "in":"query",
               "description":"Search for templates",
               "type":"integer",
               "default":0,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][content_type:all]",
               "in":"query",
               "description":"Search for all files (default)",
               "type":"integer",
               "default":1,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][offensive:2]",
               "in":"query",
               "description":"Explicit/Charm/Nudity/Violence included",
               "type":"integer",
               "default":0,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][isolated:on]",
               "in":"query",
               "description":"Isolated contents",
               "type":"integer",
               "default":0,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][panoramic:on]",
               "in":"query",
               "description":"Panoramic images (can be combined with orientation)",
               "type":"integer",
               "default":0,
               "enum":[
                  0,
                  1
               ]
            },
            {
               "name":"search_parameters[filters][orientation]",
               "in":"query",
               "description":"Image orientation",
               "type":"string",
               "default":"all",
               "enum":[
                  "horizontal",
                  "vertical",
                  "square",
                  "panoramic",
                  "all"
               ]
            },
            {
               "name":"search_parameters[filters][age]",
               "in":"query",
               "description":"Image age (weeks, months, years)",
               "type":"string",
               "default":"all",
               "enum":[
                  "1w",
                  "1m",
                  "6m",
                  "1y",
                  "2y",
                  "all"
               ]
            },
            {
               "name":"search_parameters[filters][video_duration]",
               "in":"query",
               "description":"Max video duration (sec)",
               "type":"string",
               "default":"all",
               "enum":[
                  "10",
                  "20",
                  "30",
                  "all"
               ]
            },
            {
               "name":"search_parameters[filters][colors]",
               "in":"query",
               "description":"Comma separated listed of hexadecimal colors (without any # prefix)",
               "type":"string"
            },
            {
               "name":"search_parameters[thumbnail_size]",
               "in":"query",
               "description":"Thumbnail size (px)",
               "type":"integer",
               "default":400,
               "enum":[
                  110,
                  160,
                  400
               ]
            },
            {
               "name":"search_parameters[filters][mogrt_source]",
               "in":"query",
               "description":"Comma separated listed of mogrt sources (aegraphic or prgraphic or both)",
               "type":"string"
            },
            {
               "name":"search_parameters[filters][mogrt_api_version]",
               "in":"query",
               "description":"mogrt api version such as 1.3, 1.4, 1.5. (Negative number is invalid)",
               "type":"string"
            },
            {
               "name":"search_parameters[filters][area_m_pixels]",
               "in":"query",
               "description":"Range in mega pixels such as 0-1, 10-50",
               "type":"string"
            },
            {
               "name":"search_parameters[filters][mobile_compatibility_version]",
               "in":"query",
               "description":"mobile compatibility version of mogrt. (An example 201710)",
               "type":"string"
            },
            {
               "name":"search_parameters[filters][image_width]",
               "in":"query",
               "description":"Width of an image in pixels. Min and max are optional and default to open ranges. An example of a range is 250-450",
               "type":"string"
            },
            {
               "name":"search_parameters[filters][image_height]",
               "in":"query",
               "description":"Height of an image in pixels. Min and max are optional and default to open ranges. An example of a range is 250-450",
               "type":"string"
            },
            {
               "name":"result_columns[]",
               "in":"query",
               "description":"Fields you want to have included in the search result ('is_licensed' requires authentication)",
               "type":"array",
               "items":{
                  "type":"string"
               },
               "collectionFormat":"multi",
               "default":[
                  "nb_results",
                  "id",
                  "title",
                  "width",
                  "height",
                  "creator_name",
                  "creator_id",
                  "thumbnail_url",
                  "thumbnail_html_tag",
                  "thumbnail_width",
                  "thumbnail_height",
                  "media_type_id",
                  "vector_type",
                  "content_type",
                  "category",
                  "stock_id"
               ],
               "enum":[
                  "nb_results",
                  "id",
                  "title",
                  "creator_name",
                  "creator_id",
                  "country_name",
                  "width",
                  "height",
                  "media_type_id",
                  "vector_type",
                  "nb_views",
                  "nb_downloads",
                  "creation_date",
                  "keywords",
                  "has_releases",
                  "category",
                  "category_hierarchy",
                  "is_licensed",
                  "content_type",
                  "stock_id",
                  "thumbnail_url",
                  "thumbnail_html_tag",
                  "thumbnail_width",
                  "thumbnail_height",
                  "mogrt_metadata_url",
                  "comp_url",
                  "comp_width",
                  "comp_height",
                  "framerate",
                  "duration",
                  "comps",
                  "details_url",
                  "premium_level_id",
                  "is_illustrative",
                  "3d_type_id",
                  "video_preview_url",
                  "video_preview_height",
                  "video_preview_width",
                  "video_preview_content_length",
                  "video_preview_content_type",
                  "video_small_preview_url",
                  "video_small_preview_height",
                  "video_small_preview_width",
                  "video_small_preview_content_length",
                  "video_small_preview_content_type"
               ]
            }
         ]
      },
      "/Media/1/Files/":{
         "get":{
            "tags":[
               "Media"
            ],
            "summary":"Bulk file data retrieval",
            "description":"Retrieve media files in bulk. See <a href='https://wiki.corp.adobe.com/display/adobestock/Files+API'>the design document</a> for more details.",
            "parameters":[
               {
                  "$ref":"#/parameters/Parameter.Header.ApiKey"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Product"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.ProductLocation"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.RequestId"
               },
               {
                  "$ref":"#/parameters/Parameter.Get.Locale"
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"Comma-separated list of file IDs, e.g. 'ids=100,101'",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"result_columns[]",
                  "in":"query",
                  "description":"Fields you want to have included in the search result ('is_licensed' requires authentication)",
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi",
                  "default":[
                     "id"
                  ],
                  "enum":[
                     "nb_results",
                     "id",
                     "title",
                     "creator_name",
                     "creator_id",
                     "country_name",
                     "width",
                     "height",
                     "media_type_id",
                     "vector_type",
                     "nb_views",
                     "nb_downloads",
                     "creation_date",
                     "has_releases",
                     "category",
                     "category_hierarchy",
                     "is_licensed",
                     "is_illustrative",
                     "content_type",
                     "stock_id",
                     "thumbnail_url",
                     "thumbnail_html_tag",
                     "thumbnail_width",
                     "thumbnail_height",
                     "comp_url",
                     "comp_width",
                     "comp_height",
                     "framerate",
                     "duration",
                     "comps",
                     "details_url",
                     "premium_level_id",
                     "3d_type_id",
                     "is_editorial",
                     "licenses"
                  ]
               }
            ],
            "responses":{
               "200":{
                  "description":"An array of file data",
                  "schema":{
                     "$ref":"#/definitions/Response.Files"
                  }
               },
               "400":{
                  "description":"Invalid input parameters",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "404":{
                  "description":"Unknown id supplied in 'ids' parameter",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         }
      },
      "/Media/1/Search/CategoryTree":{
         "get":{
            "tags":[
               "Media"
            ],
            "summary":"Sub-categories details.",
            "description":"Retrieve a list of 1th level sub-categories for the provided parent category. See details <a href='https://wiki.corp.adobe.com/display/adobestock/Category+Tree+API'>here</a>.",
            "parameters":[
               {
                  "$ref":"#/parameters/Parameter.Header.ApiKey"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Product"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.ProductLocation"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.RequestId"
               },
               {
                  "$ref":"#/parameters/Parameter.Get.Locale"
               },
               {
                  "$ref":"#/parameters/Parameter.Get.CategoryId"
               }
            ],
            "responses":{
               "200":{
                  "description":"A list of sub-categories",
                  "schema":{
                     "$ref":"#/definitions/Response.Categories"
                  },
                  "examples":{
                     "application/json":[
                        {
                           "id":615,
                           "link":"/Category/fall/615",
                           "name":"Fall"
                        },
                        {
                           "id":616,
                           "link":"/Category/spring/616",
                           "name":"Spring"
                        },
                        {
                           "id":617,
                           "link":"/Category/summer/617",
                           "name":"Summer"
                        },
                        {
                           "id":618,
                           "link":"/Category/winter/618",
                           "name":"Winter"
                        }
                     ]
                  }
               },
               "400":{
                  "description":"Invalid input parameters",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         }
      },
      "/Media/1/Search/Category":{
         "get":{
            "tags":[
               "Media"
            ],
            "summary":"Category details.",
            "description":"Retrieve category details by the provided id. See details <a href='https://wiki.corp.adobe.com/display/adobestock/Category+API'>here</a>.",
            "parameters":[
               {
                  "$ref":"#/parameters/Parameter.Header.ApiKey"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Authorization.Optional"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Product"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.ProductLocation"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.RequestId"
               },
               {
                  "$ref":"#/parameters/Parameter.Get.Locale"
               },
               {
                  "$ref":"#/parameters/Parameter.Get.CategoryId"
               }
            ],
            "responses":{
               "200":{
                  "description":"Category details",
                  "schema":{
                     "$ref":"#/definitions/Response.Category"
                  },
                  "examples":{
                     "application/json":{
                        "id":615,
                        "link":"/Category/fall/615",
                        "name":"Fall"
                     }
                  }
               },
               "400":{
                  "description":"Invalid input parameters",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               },
               "500":{
                  "description":"Unexpected error",
                  "schema":{
                     "$ref":"#/definitions/Response.Error"
                  }
               }
            }
         }
      },
      "/Media/1/Search/Templates":{
         "get":{
            "tags":[
               "Media"
            ],
            "summary":"Retrieve templates from Adobe Stock.",
            "description":"Retrieve templates. See <a href='https://wiki.corp.adobe.com/display/adobestock/Template+Search+API'>the design document</a> for more details.",
            "parameters":[
               {
                  "$ref":"#/parameters/Parameter.Header.ApiKey"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.Product"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.ProductLocation"
               },
               {
                  "$ref":"#/parameters/Parameter.Header.RequestId"
               },
               {
                  "$ref":"#/parameters/Parameter.Get.Locale"
               },
               {
                  "name":"product",
                  "in":"query",
                  "description":"Templates will be returned based on product identifier and version. Example: PHXS/15.2.0",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"country_code",
                  "in":"query",
                  "description":"Country code. Determines pricing",
                  "type":"string",
                  "default":"US"
               },
               {
                  "name":"search_parameters[limit]",
                  "in":"query",
                  "description":"determines pagination limit",
                  "type":"integer",
                  "default":"100"
               },
               {
                  "name":"search_parameters[offset]",
                  "in":"query",
                  "description":"determines pagination offset",
                  "type":"integer",
                  "default":"0"
               }
            ],
            "responses":{
               "200":{
                  "description":"An array of file data",
                  "schema":{
                     "required":[
                        "templates"
                     ],
                     "properties":{
                        "nb_results":{
                           "description":"Total number of templates found",
                           "type":"integer"
                        },
                        "ExpirationDTS":{
                           "description":"expiration of content",
                           "type":"integer"
                        },
                        "templates":{
                           "description":"Templates",
                           "type":"array",
[...]
